{"userId":"gunisalvo","utlitiesProviderId":"INFNET","equipamentId":"ETH-PL-HTTP-001","manufacturer":"Entrementes","firmware":"1.0.0","applianceCategory":"Smart Light Socket","electricalFareThreshold":5.00,"serverUrl":"45.55.161.149","serverPort":9999}